.App {
  text-align: center;
  padding: 60px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

legend {
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
}

fieldset {
  padding: 0;
  border: none;
  margin: 20px 0;
}

form {
  width: 330px;
  margin: 0 auto;
}

.emoji-button {
  border: solid 1px #dfdfdf;
  border-radius: 6px;
  padding: 10px;
  width: 100px;
  display: inline-block;
  font-weight: 600;
  margin: 0 5px;
}

.emoji-button:focus {
  outline: none;
}

.emoji-button.selected {
  background-color: #d50174;
  color: #fff;
  outline: none;
  transition: background-color 300ms linear;
}

.emoji-button span[role="img"] {
  font-size: 50px;
  display: block;
}

label {
  display: block;
  text-align: left;
  margin: 5px 0;
  font-size: 14px;
  font-weight: 500;
}

textarea {
  display: block;
  border: solid 1px #dfdfdf;
  border-radius: 6px;
  width: 93%;
  font-size: 16px;
  font-weight: bold;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
}

textarea:focus {
  outline: none;
  border-color: #d50174;
}

.submit-button {
  background: #d50174;
  border: solid 1px #d50174;
  width: 100%;
  height: 60px;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0;
  border: none;
}

.feedback-container {
  width: 330px;
  margin: 0 auto;
  font-weight: bold;
}
button:focus {
  outline: none;
}

form[data-state="loading"] {
  position: relative;
}

form[data-state="loading"]::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.5;
}

form[data-state="loading"]:after {
  content: "";
  position: absolute;
  background-image: url("cat-loading.gif");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 150px;
  height: 150px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.submit-button.loading,
.submit-button[data-state="loading"] {
  animation: button-animation 1000ms infinite;
}

@keyframes button-animation {
  0% {
    background-color: #d50174;
  }
  100% {
    background-color: black;
  }
  150% {
    background-color: #d50174;
  }
}
